@font-face {
  font-family: Aeonik-Air;
  src: url("fonts/Aeonik-Air.otf") format("opentype");
}

@font-face {
  font-family: Aeonik-AirItalic;
  src: url("fonts/Aeonik-AirItalic.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

@font-face {
  font-family: Aeonik;
  src: url("fonts/Aeonik-Regular.otf") format("opentype");
}

